<ion-view view-title="imeisearch">
  <ion-content>
    <ion-list>
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Que deseas buscar" ng-model="imeisearch.txt">
            </label>
            <button class="button button-small icon ion-search" ng-click="imeisearch.search(imeisearch.txt)">
            </button>
        </div>
        <ion-item class="item-thumbnail-left" ng-repeat="item in imeisearch.productos">
          <img ng-src="{{item.thumbnail}}">
          <h2>{{::item.category_id }}</h2>
        </ion-item>

  </ion-content>
</ion-view>
